<% layout("userViews/userBase") %>
    <form action="<%=userRoutes.login.pageRoute%>" method="POST" class="needs-validation" novalidate>
        <%-createFormField("username", "text" )%>
            <%-createFormField("password", "password" )%>
                <button class="btn btn-success btn-block">
                    <%= currRouteData.pageTitle%>
                </button>
    </form>